@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/stayle.css" rel="stylesheet" />
    
</head>
<body>

    <section class="anasayfa">
        <div class=" container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Style Shoes</h1>
                    <p>

                        adidas, spor giyim ve antrenman kıyafetlerinden daha fazlasıdır. Birlikte yaratmak için sektörün en iyileriyle işbirliği yapıyoruz. Böylece, sürdürülebilirliği göz önünde bulundurarak adidas severlere spor giyim ürünleri ve spor stilleri sunuyoruz. Yaratıcılıkla öne çıkanları desteklemek için buradayız. Oyunlarını ileri taşı. Değişim yarat. Ayrıca dünyamız üzerindeki etkimizi düşünüyoruz.

                    </p>
                    <a class="btn btn-danger">Explore now</a>
                </div>
                <div class="col-md-6" id="halka-daire">
                    <div class="halka">
                        <img  src="~/img/img2.png" />
                        <span class="daire"></span>
                    </div>
                    <div class="halka2">
                        <span class="daire2"></span>
                    </div>
                </div>
            </div>

        </div>
    </section>



</body>
</html>
