<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/stayle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="menu">
        <div class="container-fluid">

            <div class="row">
                <div class="ikon">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="logo">
                    <div class="logo-two">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <p>adidas</p>
                </div>
               <div class="ikon">
                   <i class="fa-solid fa-bag-shopping"></i>
               </div>
            </div>

          </div>
    </header>

    @RenderBody()


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
